template(name='actions')

  table.ui.very.basic.celled.table
    thead
      tr
        th Action
        th Time
        th Projects
    tbody
    each actions
      tr
        td
          h4.ui.image.header
            img.ui.mini.rounded.image(src='/logo.png')
            a(href="{{pathFor 'singleAction'}}")
              .content
                | #{name}
                .sub.header
                  | #{createdBy}
        td #{min} min
        td
          each projects
            a(href="{{pathFor 'singleProject'}}") #{name},
