template(name='actions')

  table.ui.very.basic.celled.table
    thead
      tr
        th Action
        th Time
        th Project
    tbody
    each actions
      tr
        td
          h4.ui.image.header
            img.ui.mini.rounded.image(src='/logo.png')
            a(href="{{pathFor 'singleAction'}}")
              .content
                | #{name}
                .sub.header
                  | #{createdBy}
        td #{time} min
        td #{project}
