template(name='home')
  .ui.icon.message
    i.notched.github.loading.icon
    .content
      .header
        | Attention: Alpha Prototype
      p This is extrem work in progress, therefore Mangos and People can magically disappear at any time, eaten up by hungry bugs! If eaten don't hesitate to help us on
        a(href="http://github.com/Samsemilio/Mangos")
          button.ui.button.mini
            i.github.icon
            | Github

  .ui.statistics
    .statistic
      .value #{totalVerifiedPeople}
      .label verified People

    .statistic
      .value #{totalTransactions}
      .label Transactions

  h2.ui.header
    .content Empowering Your Creativity
      .sub.header An open source
        a(href="https://hackpad.com/CO-OPEN-Introduction-Draft-dpymPrhqwzq") Co-Creation Platform
        | in the works by the folks from
        a(href="http://twitter.com/CO_O_PEN") CO|OPEN

  | For the prototype phase we are using our virtual testcurrency MANGOS to demonstrate the power of a "relational currency", by removing the concept of dept and embracing a universal basic income, inspired by the
  a(href="http://vit.free.fr/TRM/en_US/index.html") Theory of Relational Money.
  | If you want to learn more about the concept of Relational Money and Demurrage Fee get engaged on
  a(href="http://ucoin.io/") ucoin.io
  | and
  a(href="http://freico.in/") freico.in

  h3 Information & Overview
  | A relational currency is tightly coupled to its members and money distribution is based on the amount of
  b real and unique
  | people in a network of trust, a reason proper identification is indispensable. For simplicity in the beginning, you will be verified by another verified member. Make sure to be verified again every 30 years (10 real days with current settings). On the long run this will be exchanged with a more complex and true webOfTrust certification method.
  .ui.list
    .item
      .header Universal Dividend: 10%
      |  Every year 10% of the total Mangovolume are being redistributed
    .item
      .header DailyIncome: 24 Mangos a day
      |  Explanation coming soon
    .item
      .header Speed
      |  In this prototype we use for the demonstration purpose a speeding up factor, setting 1hour to a 1sec interval. Every 24 seconds one virtual day is passed.

  h4 And now enjoy giving your Mangos to your friends, before our Bugs are eating them up or even you!


