template(name='home')
  .ui.statistics
    .statistic
      .value #{totalVerifiedPeople}
      .label verified People

    .statistic
      .value #{totalTransactions}
      .label Transactions

  h2.ui.header
    .content Empowering Your Creativity
      .sub.header An open source
        a(href="https://hackpad.com/CO-OPEN-Introduction-Draft-dpymPrhqwzq") Co-Creation Platform
        | in the works by the folks from
        a(href="http://twitter.com/CO_O_PEN") CO|OPEN

  | For the prototype phase we are using our virtual testcurrency MANGOS to demonstrate the power of a "relational currency", by removing the concept of dept and embracing a universal basic income, inspired by the
  a(href="http://vit.free.fr/TRM/en_US/index.html") Theory of Relational Money.
  | If you want to learn more about the concept of Relational Money and Demurrage Fee get engaged on
  a(href="http://ucoin.io/") ucoin.io
  | and
  a(href="http://freico.in/") freico.in

  h3 Information & Overview
  | A relational currency is tightly coupled to its members and money distribution is based on the amount of
  b real and unique
  | people in a network of trust, a reason proper identification is indispensable. For simplicity in the beginning, you will be verified once someone else is sending you some mangos. On the long run this will be exchanged with a more complex and true webOfTrust certification method.
  .ui.list
    .item
      .header Universal Dividend: 20%
      |  Bringing you every month 1/60 from a Persons average of the total Moneyvolume
    .item
      .header MangoFactor: 1 Mango a day (Relational)
      |  This is your Unit and relational fixpoint, in order to develop your comparision skill between your own mountain of Mangos and the Mango hills of others
    .item
      .header Speed
      |  In this prototype we use for the demonstration purpose a speeding up factor, setting 1hour to a 1sec interval.
    .item
      .header Github
      |  http://github.com/Samsemilio/Mangos

  h4 And now enjoy giving your Mangos to your friends, bevor our Bugs are eating them up!


