template(name='home')
  +loginButtons
  .ui.teal.message
    p MANGO is a research game, demonstrating the power of a "relational currency", by removing the concept of dept and embracing a universal basic income.
    b Overview:
    br
    | Universal Dividend: 20% / year of the total Mangovolume divided between all verified members
    br
    | MangoFactor: You get every hour one Mango distributed (
    | Speed: 1hour = 1sec
    | Inspired by: http://ucoin.io/ and http://freico.in
    br
    b Github:
    br
    | http://github.com/Samsemilio/Mangos
    h4 And now enjoy trading your Mangos!


