template(name='home')
  +loginButtons
  .ui.teal.message
    p MANGO is a research game, demonstrating the power of a "relational currency", by removing the concept of dept and embracing a universal basic income.
    b Overview:
    br
    | Universal Dividend: 20% (Or 1/60 per month of the per Persons average from the total Moneyvolume)
    br
    | MangoFactor: You get every hour one Mango distributed, taking a total of 5 years to get all your Mangos to reach average
    br
    | Speed: 1hour = 1sec
    | Inspired by: http://ucoin.io/ and http://freico.in
    br
    b Github:
    br
    | http://github.com/Samsemilio/Mangos
    h4 And now enjoy trading your Mangos!


