template(name='layout')
  if currentUser
    .ui.icon.message
      i.notched.github.loading.icon
      .content
        .header
          | Attention: Alpha Prototype
        p This is extrem work in progress, therefore Mangos and People can magically disappear at any time, eaten up by hungry bugs! If eaten don't hesitate to help us on
          a(href="http://github.com/Samsemilio/Mangos")
            button.ui.button.mini
              i.github.icon
              | Github
    +nav

  #main
    +yield
