template(name="nav")
  .ui.secondary.pointing.menu
    a(href="/").item HOME
    a(href="/people").item PEOPLE
    a(href="/transactions").item TRANSACTIONS
    a(href="/verifications").item VERIFICATIONS
    if currentUser
      a.logout(href="#").item LOGOUT
