template(name='singleProject')

  .ui.grid
    .thirteen.wide.column.streched
      .ui.attached.tab.active(data-tab="overview")
        +subOverview
      .ui.attached.tab(data-tab="actions")
        +subActions
      .ui.attached.tab(data-tab="transactions")
        +subTransactions
      .ui.attached.tab(data-tab="shares")
        +subShares

    .three.wide.column
      .ui.vertical.fluid.right.secondary.menu
        .item #{name}
        a.item.active(data-tab="overview") Overview
        a.item(data-tab="actions") Actions
        a.item(data-tab="transactions") Transactions
        a.item(data-tab="shares") Shares

