template(name="subActions")
  form.ui.form.addAction
    .two.fields
      .field
        input(type="text", name="name", placeholder="describe you action")
      .field
        .ui.input.action
          input(type="text", name="min", placeholder="your minutes spended")
          button.ui.button(type='submit') Add Action

  .ui.divider
  table.ui.very.basic.celled.table
    thead
      tr
        th Action
        th Time (#{totalTime})
    tbody
    each actions
      tr
        td
          h4.ui.image.header
            img.ui.mini.rounded.image(src='/logo.png')
            a(href="{{pathFor 'singleAction'}}")
              .content #{name}
                .sub.header by #{username}
        td #{time} min
