template(name="subActions")
  .ui.stackable.grid
    .four.wide.column
      form.ui.form.addAction
        .label Action
        .field
          input(type="text", name="name", placeholder="describe you action")
        .label time
        .field
          input(type="text", name="min", placeholder="your minutes spended")
        button.ui.button(type='submit') Add Action

    .twelve.wide.column
      table.ui.very.basic.celled.table
        thead
          tr
            th Person
            th Time
            th Action
        tbody
        each actions
          tr
            td
              h4.ui.image.header
                img.ui.mini.rounded.image(src='/logo.png')
                a(href="{{pathFor 'singleAction'}}")
                  .content
                    | #{createdBy}
                    .sub.header
                      | #{createdAt}
            td #{min} min
            td #{name}
