template(name='subOverview')
  img.ui.image.fluid(src="/banner.png")
  .ui.statistics.small

    .statistic
      .value #{totalMin}
      .label total Min

    .statistic
      .value #{totalPeople} 1
      .label total People
