template(name="subPeople")
  table.ui.very.basic.celled.table
    thead
      tr
        th Person
        th Min (#{totalTime})
        th Percent
    tbody
      each shares
        tr
          td
            h4.ui.image.header
              img.ui.mini.rounded.image(src='/logo.png')
              .content #{username}
                .sub.header
                  | Placeholder
          td #{totalTime}
          td #{percent}%

