template(name="subTransactions")
  h3 Transactions
  .ui.feed
    each transactions
      .event
        .label
          img(src='/logo.png')
        .content
          .date #{createdAt}
          .summary
            p Received #{amount} from #{from}
