template(name='layout')
  .ui.teal.message
    .header Attention
    p This is a prototype research project, demonstrating the proposal to of creating a cryptocurreny with an implemented world citizen dividend. Inspired by the FreiCoin and uCoin projects. Please keep in mind that the accounts and numbers are not yet backed by any real currency and are periodically erased for research purpose.
    | Github Link, if you wish to contribute to the code: http://github.com/Samsemilio/FreiCoinWCD)
    br
    b Current settings:
    br
    | Total amount of money: 100.000.000 (to be distributed over the course of 5 years) |  DemurrageFee(BasicIncome): 20% per year = 1.66% per month

  .ui.secondary.pointing.menu
    a(href="/").item HOME
    a(href="/people").item PEOPLE
    a(href="/transactions").item TRANSACTIONS

  #main
    +yield
