template(name="subMessages")
  #main
    form.ui.form.addMessage
      .fields
        .twelve.wide.field
          input(type="text", name="message", placeholder="message")
        .four.wide.field
          button.ui.button.fluid(type='submit') Send
    .ui.divider

    .ui.feed
      each messages
        .event
          .label
            if user.profile.picture
              img(src='#{user.profile.picture}')
            else
              img(src="/card.png")

          .content
            .date #{createdAt}
            .summary
              p #{message}

