template(name='verifications')
  #main
    .ui.feed
      each verifications
        .event
          .label
            img(src='/logo.png')
          .content
            .date #{createdAt}
            .summery
              | #{createdBy} verified #{verifiedPerson} at age #{verifiedAt}
