template(name='singleOrganisation')
  .ui.grid.stackable
    .four.wide.column
      form.ui.form.payOrganisation
        .field
          label Mangos
          input(type="number", name="amount", placeholder="choose amount")
        .field
          label Optional Message
          textarea(rows="1", name="message", placeholder="optional message")
        .field
          button.ui.button.fluid(type='submit') Give Mangos
      .ui.header
        .content #{name}
          .sub.header by #{username}
      .ui.vertical.secondary.menu
        a.active.item(data-tab="overview") Overview
        a.item(data-tab="projects") Projects (#{projectCount})
        a.item(data-tab="messages") Messages (#{messageCount})

    .twelve.wide.column.streched
      .ui.active.attached.tab(data-tab="overview")
        +organisationOverview
      .ui.attached.tab(data-tab="projects")
        +subProjects
      .ui.attached.tab(data-tab="messages")
        +subMessages
